#logo_container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
}

#logo_container:hover{
    cursor: pointer;
}

#canvas {
    position: absolute;
    width: 150px; 
    height: 150px; 
    z-index: 1;
}

#menu_botton_text {
    position: absolute; 
    color: #e8e3dc;
    font-size: 24px;
    font-weight: 800;
    height: 35%;
}

#logoimg {
    width: 150px; 
    height: auto; 
}