.footer {
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100% !important;
  background-color: #9d8989;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
  text-align: center;
  position: relative;
  bottom: -50px;
  width: 100%;
}

.bottom-info {
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 25px;
}

.info {
  color: #e8e3dc;
  font-weight: bold;
}

.info:hover {
  cursor: pointer;
}

.Toastify__progress-bar-theme--light {
  background: #bfaaaa !important;
}
