#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.title-header {
  margin: auto;
  width: 100%;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 25px;
  color: #a96c73;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.2cm;
}

.title-header2 {
  margin: auto;
  width: 100%;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 25px;
  color: #ece4db;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.2cm;
}

.link {
  text-decoration: none;
  margin-top: 20px;
}

.lin {
  margin: 20px;
  border-width: 5px;
  border-radius: 3px;
  width: 100%;
  border-color: #ece4db;
  background-color: #ece4db;
}
