.themeColor {
    color: #a96c73 !important;
  }

#event_container_l {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
  }

#event_image_container_l {
    background: linear-gradient(to right, #B28484, #9D8989);
    width: 50%;
    height: 100%;
    object-fit: cover;
}

#event_image {
   height: 120vh;
    object-fit: cover;
}


#event_info_container_l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    padding: 5%;
    
}

.text_button {
    font-weight: bolder;
    color: #e8e3dc
}

#short_description {
   font-size: 4vmin;
   font-weight: 700;
}

.event_text_container_l {
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    padding-right: 5vmin;
    font-size: 4vmin;
}

.when-where, .meta_data {
    font-size: 2.5vmin;
}

.when-where {
    padding-left: 2vmin;
}

.meta_data {
    width: 100%;
    text-align: center;
}

#title {
    font-family: "Raleway";
    font-size: 7vmin;
    font-weight: 600;
}

.two_in_row_l {
    padding-top: 5vmin;
    padding-right: 5vmin;
    display: flex;
}

.two_in_row_text_container_l {
    width: 100%;
}

@media (max-width: 767px) {
    #event_container_l {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #event_image_container_l {
        width: 100%;
        order: 1;
    }

    #event_info_container_l {
        width: 100%;
        padding: 5%;
        order: 2;
    }

    .event_text_container_l {
        padding: 5vmin;
        font-size: 5vmin;
    }
    
    .when-where, .meta_data {
        font-size: 3.5vmin;
    }

    #title {
        font-size: 9vmin;
    }

    .two_in_row_l {
        padding-top: 5vmin;
        padding-left: 5vmin;
        padding-right: 5vmin;
    }
}