.themeColor {
    color: #a96c73 !important;
  }

#event_container_l {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 120vh;
    width: 100%;
    box-sizing: border-box;
  }

#event_image_container_l {
    background: linear-gradient(to right, #B28484, #9D8989);
    width: 50%;
    height: 100%;
    object-fit: cover;
}

#event_image {
   height: 120vh;
    object-fit: cover;
}


#event_info_container_l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    padding: 5%;
    
}

.text_button {
    font-weight: bolder;
    color: #e8e3dc
}

.button {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #C4989D;
  
  padding: 8px;
  font-weight: bolder;
  font-size: 5px;
  color: #e8e3dc;
  border-radius: 10%;
}

#short_description {
   font-size: 4vmin;
   font-weight: 700;
}

.event_text_container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    font-size: 4vmin;
}

.when-where, .meta_data {
    font-size: 2.5vmin;
}

#title {
    font-family: "Raleway";
    font-size: 7vmin;
    font-weight: 600;
}

.two_in_row {
    display: flex;
}