.initial-container-info {
  margin: 10%;
  display: flex;
  justify-content: center;
}

.row {
  align-items: center !important;
}

.submit-container {
  width: 60%;
}

.button {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #cda9ad;
  width: fit-content !important;
  font-weight: bolder;
  font-size: 15px;
  color: #e8e3dc;
  border-radius: 8%;
}

.input-group {
  padding-left: 0px !important;
}

.button-container {
  display: flex;
  justify-content: center;
}
.ceramicPhoto {
  max-width: 90% !important;
  width: auto;
  height: 90%;
  display: block;
  margin: 0 auto;
}

.image-container {
  padding: 0 5% 5% 5% !important;
}

.loading {
  overflow-y: hidden !important;
}

.lineEvent {
  border-width: 2px;
  border-radius: 2px;
  border-color: #514c46;
}

.event {
  background-color: #dfd6cbf6;
  margin: 100px;
  margin-top: 100px !important;
  border: #a19485 2px solid;
}

.contianer-info-event {
  display: flex;
  align-items: center;
}

.event_background {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  filter: brightness(1.2);
  position: fixed;
  z-index: -1;
  opacity: 0.9;
  top: 0px;
  /* top: 90px; */
  /* min-height: 73vh; */
  /* height: 100vmin; */
  height: 100%;
}

.ev {
  padding: 50px !important;
}

@media (max-width: 810px) {
  .ev {
    padding: 15px !important;
  }
}
