.footer {
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100% !important;
  background-color: #9d8989;
  height: 150px;
}

.bottom-info {
  font-size: 10px;
}

.info {
  color: #e8e3dc;
  font-weight: bold;
}
