.title-header {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 25px;
  color: #a96c73;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.2cm;
}

.link {
  text-decoration: none;
}

.line {
  background-color: #a96c73;
  margin-left: 40px;
  margin-right: 40px;
}
