.contianer-event {
  border-color: #9a6269;
  border-left: 0.9px solid #a96c73;
  padding: 10px;
  padding-left: 30px;

  /* border-bottom: 0.9px solid #a96c73 */
}
.contianer-event:hover {
  background-color: #a96c7345;
}

.outer-container {
  align-content: flex-start;
  height: fit-content;
  min-height: 75vh;
  padding: 30px;
}

.event {
  height: 100% !important;
}

.img-cont {
  padding: 0px !important;
  margin-top: 40px;
  border-left: 0.9px solid #a96c73;
  border-top: 0.9px solid #a96c73;
}

.logout {
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  padding-left: 10px !important;
}

.button-see {
  width: 200px;
  border-color: #9a6269;
  border-left: 0.9px solid #a96c73;
  padding: 10px;
  width: -moz-fit-content;
  /* width: fit-content; */
  border-top: 0.9px solid #a96c73;
}

.button-see:hover,
.logout:hover {
  background-color: #9a626929;
  cursor: pointer;
}

.cont-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button-see p {
  margin: 0;
}

.info-events {
  color: #9a6269;
  align-items: end;
}

.inner-info {
  display: flex;
}

.inner-inner-info {
  padding-right: 25px;
  border-color: #9a6269;
  border-right: 0.9px solid #a96c73;
  margin-right: 25px;
}

.event1 {
  margin: 20px;
  margin-left: 50px;
  background-color: #a96c7345;
}
