.subscribe {
  display: flex;
  flex-direction: column;
  padding:20px
}

.outerContainer{
  width:40%
}
#input {
  padding: 5px 10px 5px 10px;
  margin: 20px;
  width: fit-content;
}

.button {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #C4989D;
  width: fit-content !important;
  padding: 8px;
  font-weight: bolder;
  font-size: 15px;
  color: #e8e3dc;
  border-radius: 8%;
}

.send-back{
   z-index: -1;
}