.subscribe {
  display: flex;
  flex-direction: column;
  padding:20px
}

.outerContainer{
  width:50vmin
}

#input {
  padding: 5px 10px 5px 10px;
  margin: 20px;
  width: fit-content;
}

.another-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2%
}

.another-button-container{
    align-items: center;
    object-fit: cover;
}

.send-back{
   z-index: -1;
}

.loading{
  overflow-y: hidden !important;
}

@media (max-width: 767px) {
    .outerContainer{
        width:80vmin
      }
}